@import "@material/fab/mdc-fab";

@import "../../styles/variables";

$name: $prefix + "fab";

.#{$name}--absolute {
  bottom: 1rem;
  position: absolute;
  right: 1rem;

  @media (min-width: 1024px) {
    & {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
}
